extends layout
block content
	div#EchoPlateMapperContainer

	script
		$(function() {
				var currentWindowOnload = window.onload;

				window.onload = function() {
						if (currentWindowOnload) {
								currentWindowOnload();
						}
						//window.Todos = new TodoList()
						//window.app = new app.AppView()
						// random initialization js goes here
						App = new EchoPlateMapperParserController({el: "#EchoPlateMapperContainer"})
						App.render()
				};
		});