doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-image-gallery.min.css')
		link(rel='stylesheet', href='/src/lib/jqueryFileUpload/css/jquery.fileupload-ui.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		include ../public/src/modules/Components/src/client/LSFileInputView.html
		include ../public/src/modules/Components/src/client/LSFileChooserView.html
		include ../public/src/modules/Components/src/client/LSNotificationView.html
		include ../public/src/modules/EchoPlateMapper/src/client/EchoPlateMapperView.html
		include ../public/src/modules/Components/src/client/BasicFileValidateAndSaveView.html
		-each script in scripts
			script(type='text/javascript', src= script)

	body
		block content
