<script type="text/template" id="BasicFileValidateAndSaveView">
    <div class='bv_outerContainer container' >
        <div class="bv_moduleTitle row-fluid span7">Generic Data Parser</div>
        <div class="row-fluid span7 bv_additionalValuesForm"></div>
        <div class="bv_resultStatus row-fluid span7"></div>
        <div class='bv_fileUploadWrapper row-fluid'>
            <div class='well span7'>
                To upload the <b>required data file</b>, click the "Browse Files…" button and select a file.
            </div>
            <div class='bv_parseFile'></div>
            <div class='bv_reportFileWrapper row-fluid' style="display: none;">
                <div class='well span7'>
                    To upload an <b>optional report file</b>, click the "Browse Files…" button and select a file.
                </div>
                <div class='bv_reportFile'></div>
            </div>
        </div>

        <div class="bv_flowControl row-fluid span7">
            <div class="bv_htmlSummary well"></div>
            <div class="bv_nextControlContainer pull-right">
                <div class='btn bv_next'>Next</div>
            </div>
            <div class="bv_saveControlContainer hide pull-right">
                <div class='btn bv_back'>Back</div>
                <div class='btn bv_save'>Upload Data</div>
            </div>
            <div class="bv_completeControlContainer hide pull-right">
                <div class='btn bv_loadAnother'>Load Another</div>
            </div>
        </div>

        <div class='bv_notifications hide row span7'></div>

        <div class='modal bv_validateStatusDropDown hide'>
            <div class="modal-header">
                <h3>Validating Data</h3>
            </div>
            <div class="modal-body">
                <div>
                    <br />
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='modal bv_saveStatusDropDown hide'>
            <div class="modal-header">
                <h3>Uploading Results</h3>
            </div>
            <div class="modal-body">
                <div>
                    <br />
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>

