<script type="text/template" id="EchoPlateMapperView">
    <form class="form-horizontal pull-left">
        <div class="control-group bv_group_plateSize">
            <label class="control-label">Plate Size</label>
            <div class="controls">
                <input class="input-xlarge bv_plateSize" type="text" placeholder="Plate Size">
                </input>
            </div>
        </div>
        <div class="control-group bv_group_addPositive">
            <div class="controls">
                <button class="btn bv_addPositive">Add Possitive Control</button>
            </div>
        </div>
        <div id="positiveControlContainer"></div>
        <div class="control-group bv_group_addNegitive">
            <div class="controls">
                <button class="btn bv_addNegitive">Add Negitive Control</button>
            </div>
        </div>
        <div id="negitiveControlContainer"></div>
        <div class="control-group bv_group_protocolName">
            <div class="controls">
                <button class="btn bv_generateEchoPlateMapper">Generate EchoPlateMapper</button>
            </div>
        </div>
    </form>

</script>


<script type="text/template" id="PNControlView">
    <td style="vertical-align: middle;">
        <div class="control-group bv_group_controlName">
            <div class="controls">
                <select class="span12 bv_controlName">
                </select>
            </div>
        </div>
    </td>
    <td>
        <div class="control-group bv_group_controlValue">
            <div class="controls">
                <input class="input-xlarge bv_controlValue" type="text" placeholder="control value">
                </input>
            </div>
        </div>
    </td>
    <td style="vertical-align: middle;">
        <div class="control-group bv_group_controlButton">
            <div class="controls">
                <input class="btn bv_controlButton" type="button" value="Delete">
                </input>
            </div>
        </div>
    </td>
</script>

<script type="text/template" id="PNControlListView">
    <div class="span5 PNControlListContainer" style="margin-left: 0px;">
        <table class="table table-bordered table-condensed" style="width: 34em;min-width:350px;">
            <thead>
            <th class="bv_batchHeader" style="width: 15em;">Control Name</th>
            <th style="width: 15em;">Control Value</th>
            <th style="width: 2em;"></th>
            </thead>
            <tbody class="PNControlList"></tbody>
        </table>
    </div>
</script>